{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "react/jsx-uses-vars": 0,
    "react/display-name": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-undef": 0,
    "no-unexpected-multiline": "warn"
  }
}
